@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paper-Rock-Scissors</h1>
    Play in Paper-Rock Scisors !!!
    <h2>  @Html.ActionLink("Rooms", "Index", "Rooms")</h2>
</div>
